<ion-header id="myHeader" class="header-menu">
  <ion-navbar class="header-navbar" style="width:100%;">
    <div *ngIf="!toggled" class="logo-search" style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="toggleSearch()">
        <ion-icon name="md-search" style="font-size:25px;"></ion-icon>
      </button>
    </div>
    <div *ngIf="toggled" style="text-align:right;height:0px;">
      <button ion-button clear style="color:#ffffff;background:transparent;font-size:25px;" (click)="toggleSearch()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </div>
    <button *ngIf="!toggled" ion-button menuToggle color="light">
      <ion-icon name="menu" style="font-size:30px;"></ion-icon>
    </button>
    <ion-title class="side-title">
      <div *ngIf="!toggled" class="logo-atria">
        <img src="assets/imgs/logoatriawhite.png" height="45" />
      </div>
      <div *ngIf="toggled" class="content-search" style="width:100%;">
        <ion-searchbar (ionInput)="getSearchPO($event)" placeholder="Search"></ion-searchbar>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-menu" no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
    </ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="detailrcv">
    <ion-segment-button value="detailreceiving">
      Checklist Receiving
    </ion-segment-button>
    <ion-segment-button value="receivingsubmit">
      Submit Receiving
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="detailrcv">
    <ion-list class="content-list-menu" *ngSwitchCase="'detailreceiving'">
      <div>
        <ion-item no-lines class="toolbar-scroll">Showing {{totaldata}} entries</ion-item>
      </div>
      <ion-item class="content-data-item" *ngFor="let detailrcv of receiving">
        <ion-avatar item-start>
          <img src="assets/imgs/noimage.jpg" alt="">
        </ion-avatar>
        <div no-padding>
          <h2>No Item : {{detailrcv.item_no}}</h2>
          <div style="color:#4a4a4a;">Qty : {{detailrcv.qty}} | Qty Receiving: {{detailrcv.qty_receiving}}</div>
          <br/>
        </div>
        <button item-end ion-button clear color="greenlake" (click)="doReceiving(detailrcv)">
          <ion-icon name="md-open" style="font-size:30px;"></ion-icon>
        </button>
        <button item-end ion-button clear color="greenlake" (click)="doPostPartial(detailrcv)">
            <ion-icon name="md-checkmark-circle-outline" style="font-size:30px;"></ion-icon>
          </button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'receivingsubmit'" padding>
      <ion-slides>
        <ion-slide *ngFor="let cek of receivingchecked">
          <ion-card-header style="border:1px solid;border-color:#dedede;margin-bottom:1px;text-align:center;">
            <!-- <ion-select [(ngModel)]="checked" style="margin-left:27.5%;">
              <ion-option *ngFor="let cek of receivingchecked" value="{{cek.item_no}}">{{cek.item_no}}</ion-option>
            </ion-select> -->
            <h4>ITEM NO</h4>
            {{cek.item_no}}
          </ion-card-header>
          <ion-card-content padding style="border:1px solid;border-color:#dedede;text-align:left;">
            <ion-item>
              <div>
                Receiving Date
              </div>
              <div item-end>
                {{cek.expected_receipt_date | date: 'dd-MM-yyyy'}}
              </div>
            </ion-item>
            <ion-item>
              <div>
                Batch No
              </div>
              <div item-end>
                {{cek.batch_no}}
              </div>
            </ion-item>
            <ion-item>
              <div>
                Order No
              </div>
              <div item-end>
                {{cek.order_no}}
              </div>
            </ion-item>
            <ion-item>
              <div>
                QTY
              </div>
              <div item-end>
                {{cek.qty}}
              </div>
            </ion-item>
            <ion-item>
              <div>
                QTY Receiving
              </div>
              <div item-end>
                {{cek.qty_receiving}}
              </div>
            </ion-item>
            <ion-item>
              <div>
                Difference
              </div>
              <div item-end>
                {{selisihqty}}
              </div>
            </ion-item>
            <ion-item>
              <div>
                Staging
              </div>
              <div item-end>
                {{cek.staging}}
              </div>
            </ion-item>
            <ion-buttons end>
              <button ion-button color="greenlake" style="margin-top:20px;" (click)="doOpenStaging(cek)">Staging</button>
              <button ion-button color="greenlake" style="margin-top:20px;" [disabled]="cek.staging == ''" (click)="doSubmitRCV(cek)">Submit</button>
            </ion-buttons>
          </ion-card-content>
        </ion-slide>
      </ion-slides>
    </ion-list>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="closeModal" (click)="doOffStaging()">&times;</span>
      <form [formGroup]="myFormModal">
        <ion-list no-lines>
          <ion-item class="item-rc" style="border:0px;">
            <ion-label floating>LOCATION</ion-label>
            <ion-input type="text" formControlName="location"></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <ion-buttons end>
        <button ion-button color="greenlake" style="margin-top:20px;" (click)="doOpenLocation()">Location</button>
        <button ion-button color="greenlake" style="margin-top:20px;" [disabled]="!myFormModal.valid" (click)="doSaveStaging()">Save</button>
      </ion-buttons>
    </div>
  </div>

</ion-content>

<div id="myLocations" class="modal-location">
  <div class="modal-content-location">
    <ion-header class="header-menu">
      <ion-navbar class="header-navbar" style="width:100%;">
        <div style="text-align:right;height:0px;">
          <button ion-button clear style="color:#ffffff;background:transparent;font-size:25px;" (click)="doOffLocations()">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </div>
        <ion-title class="side-title">
          <div class="content-search" style="width:100%;">
            <ion-searchbar (ionInput)="getSearchLoc($event)" placeholder="Search"></ion-searchbar>
          </div>
        </ion-title>
      </ion-navbar>
    </ion-header>
    <ion-content class="content-location">
      <ion-card>
        <ion-card-header class="title-header-location">
          <div class="fc-center">
            <ion-select placeholder="{{divisioncode}}" [(ngModel)]="divdesc" (ionChange)="doLocation()">
              <ion-option *ngFor="let div of division" value="{{div.code}}" (ionSelect)="doSetLoc(div)">{{div.description}}</ion-option>
            </ion-select>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div class="grid-location">
            <ion-grid>
              <ion-row>
                <ion-col [ngClass]="{'col-disabled': (locmst.status != 'TRUE')}" padding *ngFor="let locmst of location_master" class="col-location"
                  col-4 col-xl-2 (click)="doSelectLoc(locmst)">
                  {{locmst.location_alocation}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</div>

<div [ngSwitch]="detailrcv">
  <ion-fab *ngSwitchCase="'detailreceiving'" class="fixed-div" bottom right>
    <button ion-fab color="greenlake" (click)="doScanBarcode()">
      <ion-icon name="md-barcode"></ion-icon>
    </button>
  </ion-fab>
</div>