<ion-header class="header-menu">
  <ion-navbar class="header-navbar" style="width:100%;">
    <div *ngIf="!toggled" class="logo-search" style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="doPrint()">
        <ion-icon name="md-print" style="font-size:35px;"></ion-icon>
      </button>
    </div>
    <button ion-button clear color="light" (click)="closeModal()">
      Close
    </button>
    <ion-title class="side-title">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-barcode">
  <ion-card>
    <ion-card-header id="printareaheader" style="text-align:center;">
      No Order : {{orderno}} - Batch Number : {{batchno}} - Item No : {{itemno}} Qty : {{qty}}
    </ion-card-header>
    <ion-grid style="margin-left:5px;">
      <ion-row >
        <ion-col style="border:1px solid;border-color:#dedede;margin-right:10px;margin-bottom:10px;text-align:center;" *ngFor="let i of arr">
          <!-- <qr-code [(value)]="batchno+itemno" size="250" [level]="H"></qr-code> -->
          <ngx-barcode id="printarea" [bc-value]="batchno+itemno" [bc-display-value]="true" [bc-width]="1.2" [bc-height]="20" [bc-font-size]="10" [bc-margin]="0"></ngx-barcode>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>