<ion-header class="header-menu">
  <ion-navbar class="header-navbar" style="width:100%;">
    <div *ngIf="!toggled" class="logo-search" style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="toggleSearch()">
        <ion-icon name="md-search" style="font-size:25px;"></ion-icon>
      </button>
    </div>
    <div *ngIf="toggled" style="text-align:right;height:0px;">
      <button ion-button clear style="color:#ffffff;background:transparent;font-size:25px;" (click)="toggleSearch()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </div>
    <button *ngIf="!toggled" ion-button menuToggle color="light">
      <ion-icon name="menu" style="font-size:30px;"></ion-icon>
    </button>
    <ion-title class="side-title">
      <div *ngIf="!toggled" class="logo-atria">
        <img src="assets/imgs/logoatriawhite.png" height="45" />
      </div>
      <div *ngIf="toggled" class="content-search" style="width:100%;">
        <ion-searchbar (ionInput)="getSearchPO($event)" placeholder="Search"></ion-searchbar>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-menu" no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
    </ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="pickingdetail">
    <ion-segment-button value="pickingdetailitem">
      Picking Detail
    </ion-segment-button>
    <ion-segment-button value="history">
      History
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="pickingdetail">
    <div>
      <ion-item no-lines class="toolbar-scroll">Showing {{totaldata}} entries</ion-item>
    </div>
    <ion-list class="content-list-menu" *ngSwitchCase="'pickingdetailitem'">
      <ion-item class="content-data-item" *ngFor="let picking of picking_detail">
        <ion-avatar item-start>
          <img src="assets/imgs/noimage.jpg" alt="">
        </ion-avatar>
        <div no-padding>
          <h2>No Item : {{picking["Item No_"]}}</h2>
          <p>Description : {{picking.Description}}</p>
          <p>Qty : {{picking.Quantity}} {{picking.UOM}}</p>
          <p>Retail So No : {{picking["Retail SO No_"]}}</p>
        </div>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'history'">
      <ion-item>

      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>