<ion-header class="header-menu">
  <ion-toolbar class="header-navbar">
    <ion-title class="side-title">
      <div class="close" *ngIf="itemsshow == false">
        <button ion-button clear color="light" (click)="closeModal()">Close</button>
      </div>
      <div class="close" *ngIf="itemsshow == true">
        <button ion-button clear color="light" (click)="doOffItems()">Close</button>
      </div>
      <div class="logo-atria">
        <img src="assets/imgs/logoatriawhite.png" height="45" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="content" class="content-menu" padding>
  <form [formGroup]="myForm">
    <ion-item class="item-input" no-lines style="font-size:15px;">
      <ion-label stacked style="color:#000;">TO No</ion-label>
      <ion-input formControlName="tono" disabled="true" type="text"></ion-input>
    </ion-item>
    <ion-item class="item-input" no-lines style="font-size:15px;">
      <ion-label stacked style="color:#000;">From Location</ion-label>
      <ion-input formControlName="from" disabled="true" type="text"></ion-input>
    </ion-item>
    <ion-item class="item-input" no-lines style="font-size:15px;">
      <ion-label stacked style="color:#000;">To Location</ion-label>
      <ion-input formControlName="to" disabled="true" type="text"></ion-input>
    </ion-item>
    <ion-item class="item-input" no-lines style="font-size:15px;">
      <ion-label stacked style="color:#000;">Transfer Date</ion-label>
      <ion-input formControlName="transferdate" disabled="true" type="text"></ion-input>
    </ion-item>
    <ion-item class="item-input" no-lines style="font-size:15px;" (click)="doOpenItems()">
      <ion-label stacked style="color:#000;">Item No</ion-label>
      <ion-input placeholder="Pilih Item No" formControlName="itemno" disabled="true" type="text"></ion-input>
      <button ion-button item-end color="greenlake" style="height:50px;width:50px;">
        <ion-icon style="font-size:30px;" name="md-open"></ion-icon>
      </button>
    </ion-item>
    <ion-item class="item-input" no-lines style="font-size:15px;">
      <ion-label stacked style="color:#000;">Description</ion-label>
      <ion-input placeholder="Description" formControlName="description" disabled="true" type="text"></ion-input>
    </ion-item>
    <ion-item class="item-input" no-lines style="font-size:15px;">
      <ion-label stacked style="color:#000;">QTY</ion-label>
      <ion-input placeholder="Qty" formControlName="qty" type="text"></ion-input>
    </ion-item>
    <ion-item class="item-input" style="font-size:15px;">
      <ion-label stacked style="color:#000;">Unit</ion-label>
      <ion-input placeholder="Unit" formControlName="unit" disabled="true" type="text"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer id="footer" style="background:#217481;">
  <button ion-button full color="greenlake" [disabled]="!myForm.valid" (click)="insertTODetail()">
    Reserve
  </button>
</ion-footer>
<div *ngIf="itemsshow == true" id="myModalItems" class="modal-items">
  <ion-content class="modal-content-items">
    <ion-grid>
      <ion-row class="row-content">
        <ion-col col-3 padding class="col-content">Item No</ion-col>
        <ion-col col-8 padding class="col-content">Description</ion-col>
        <ion-col col-1 padding class="col-content">Cek Stock</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 style="padding:0px;background: #fff;border:1px solid;border-color:#dedede;border-bottom:0px;">
          <ion-searchbar (ionInput)="getSearchItem($event)" placeholder="Search Item"></ion-searchbar>
        </ion-col>
        <ion-col col-8 style="padding:0px;background: #fff;border:1px solid;border-color:#dedede;border-bottom:0px;">
          <ion-searchbar (ionInput)="getSearchDescription($event)" placeholder="Search Description"></ion-searchbar>
        </ion-col>
        <ion-col col-1 style="padding:0px;background: #fff;border:1px solid;border-color:#dedede;border-bottom:0px;"></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of items" class="row-content-list">
        <ion-col col-3 *ngIf="item.Row % 2 == 0" padding class="col-content-genap" (click)="doSelectItems(item)">{{item.No_}}</ion-col>
        <ion-col col-8 *ngIf="item.Row % 2 == 0" padding class="col-content-genap" (click)="doSelectItems(item)">{{item.Description}}</ion-col>
        <ion-col col-1 *ngIf="item.Row % 2 == 0" class="col-content-genap" (click)="doCekStock(item)">
          <button ion-button full color="greenlake">
            <ion-icon name="pricetag"></ion-icon>
          </button>
        </ion-col>

        <ion-col col-3 *ngIf="item.Row % 2 != 0" padding class="col-content-ganjil" (click)="doSelectItems(item)">{{item.No_}}</ion-col>
        <ion-col col-8 *ngIf="item.Row % 2 != 0" padding class="col-content-ganjil" (click)="doSelectItems(item)">{{item.Description}}</ion-col>
        <ion-col col-1 *ngIf="item.Row % 2 != 0" class="col-content-ganjil" (click)="doCekStock(item)">
          <button ion-button full color="greenlake">
            <ion-icon name="pricetag"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>