page-detailpoactionupdate {
    .content-menu {
        background: #ffffff;
    }
    .item-input {
        background: #ffffff;
        color: #000000;
    }
    .close {
        text-align: left;
        color: #ffffff;
        height: 0px;
    }
    .logo-atria {
       text-align: center;
       margin-left: 50px;
    }
}
