page-loading {
    .background{
        width: 100%;
        height: 100%;
        background: linear-gradient(10deg,#f8f3f3 60%,#ddd6d6);
        text-align: center;
    }
    .form{
        margin: 0PX 10px 0px 10px;
        padding: 10px;
    }

}
