<ion-header class="header-menu">
  <ion-navbar class="header-navbar">
    <button ion-button menuToggle color="light">
      <ion-icon name="menu" style="font-size:30px;"></ion-icon>
    </button>
    <ion-title class="side-title">
      <img src="assets/imgs/logoatriawhite.png" height="45" />
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div style="font-weight: bold;font-size:15px;border-bottom:1px solid;border-color:#dedede;text-align:center;">PO</div>
    <ion-row>
      <ion-col col-4 style="border:1px solid;border-color:#dedede;">Order No</ion-col>
      <ion-col col-8 style="border:1px solid;border-color:#dedede;">Expected Receipt Date</ion-col>
    </ion-row>
    <ion-row class="rowhover" item-start no-padding *ngFor="let prepare of preparation" (click)="viewDetailPrepare(prepare)">
      <ion-col col-4 style="border:1px solid;border-color:#dedede;background:transparent;">
        {{prepare.order_no}}
      </ion-col>
      <ion-col col-8 style="border:1px solid;border-color:#dedede;background:transparent;">
        {{prepare.expected_receipt_date | date: "dd MMMM yyyy"}}
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list>
    <div style="font-weight: bold;font-size:15px;border-bottom:1px solid;border-color:#dedede;text-align:center;">RECEIVING</div>
    <ion-row>
      <ion-col col-4 style="border:1px solid;border-color:#dedede;">Order No</ion-col>
      <ion-col col-8 style="border:1px solid;border-color:#dedede;">Expected Receipt Date</ion-col>
    </ion-row>
    <ion-row class="rowhover" item-start no-padding *ngFor="let rcv of receiving" (click)="viewDetail(rcv)">
      <ion-col col-4 style="border:1px solid;border-color:#dedede;background:transparent;">
        {{rcv.order_no}}
      </ion-col>
      <ion-col col-8 style="border:1px solid;border-color:#dedede;background:transparent;">
        {{rcv.expected_receipt_date | date: "dd MMMM yyyy"}}
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list>
    <div style="font-weight: bold;font-size:15px;border-bottom:1px solid;border-color:#dedede;text-align:center;">QC IN</div>
    <ion-row>
      <ion-col col-4 style="border:1px solid;border-color:#dedede;">Item No</ion-col>
      <ion-col col-8 style="border:1px solid;border-color:#dedede;">Staging (Qty)</ion-col>
    </ion-row>
    <ion-row *ngFor="let myqc of quality_control" (click)="doDetailQC(myqc)" class="rowhover" item-start no-padding>
      <ion-col col-4 style="border:1px solid;border-color:#dedede;background:transparent;">
        {{myqc.item_no}}
      </ion-col>
      <ion-col col-8 style="border:1px solid;border-color:#dedede;background:transparent;">
        {{myqc.staging}} ({{myqc.qty}})
      </ion-col>
      <div *ngIf="detailqc && myqc.item_no == qclist && myqc.batch_no == batchnolist" style="border-top:1px solid;border-color:#dedede;background:#ffffff;">
        <div padding style="font-weight:bold;">
          Inspection Result
        </div>
        <ion-grid>
          <ion-row *ngIf="detailqc && myqc.item_no == qclist">
            <ion-col col-12 style="border-top:1px solid;border-color:#dedede;">
              <ion-row>
                <ion-col>Date Inspection</ion-col>
                <ion-col>Time Inspection Start</ion-col>
                <ion-col>Time Inspection Finish</ion-col>
                <ion-col>Status</ion-col>
              </ion-row>
            </ion-col>
            <ion-col *ngFor="let result of qcresult" col-12 style="border-top:1px solid;border-color:#dedede;">
              <ion-row (click)="getfoto(result);" *ngIf="detailqc && result.item_no == qclist">
                <ion-col style="border-right:1px solid;border-top:0px;border-left:0px;border-color:#dedede">{{result.date_finish}}</ion-col>
                <ion-col style="border-right:1px solid;border-top:0px;border-left:0px;border-color:#dedede">{{result.time_start}}</ion-col>
                <ion-col style="border-right:1px solid;border-top:0px;border-left:0px;border-color:#dedede">{{result.time_finish}}</ion-col>
                <ion-col *ngIf="result.qc_status == 'OPEN'" style="color:black">{{result.qc_status}}</ion-col>
                <ion-col *ngIf="result.qc_status == 'REJECT'" style="color:red">{{result.qc_status}}</ion-col>
                <ion-col *ngIf="result.qc_status == 'PASSED'" style="color:green">{{result.qc_status}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-list>
  <ion-list>
    <div style="font-weight: bold;font-size:15px;border-bottom:1px solid;border-color:#dedede;text-align:center;">PICKING</div>
    <ion-row>
      <ion-col col-4 style="border:1px solid;border-color:#dedede;">Picking Note</ion-col>
      <ion-col col-8 style="border:1px solid;border-color:#dedede;">Transfer Date</ion-col>
    </ion-row>
  </ion-list>
  <ion-list>
    <div style="font-weight: bold;font-size:15px;border-bottom:1px solid;border-color:#dedede;text-align:center;">QC OUT</div>
    <ion-row>
      <ion-col col-4 style="border:1px solid;border-color:#dedede;">QC Note</ion-col>
      <ion-col col-8 style="border:1px solid;border-color:#dedede;">Transfer Date</ion-col>
    </ion-row>
  </ion-list>
</ion-content>