page-users {
    .row-content {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #9e9fa1;
        background: #ffffff;
    }
    .row-content-list {
        background: transparent;
        color: #000000;
    }
    .row-content-list:hover {
        background: #b7c400;
        color: #000000;
        cursor: pointer;
    }
    .col-content {
        background:transparent;
        color:#000000;
        border:0px;
        text-align:left;
    }
    .modal-users {
        display: block; /* Hidden by default */
        position: absolute; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #fefefe;
    }
    
    /* Modal Content/Box */
    .modal-content-users {
        background-color: #fefefe;
        width: 100%; /* Could be more or less, depending on screen size */
        height: 100%;
    }
}
