page-viewitem {
    .text-description{
        font-size: 15px;
    }
    
.back-button-md {
    margin: 0 6px;
    min-width: 44px;
    box-shadow: none;
    display: inline-block;
    color: #ffffff;
    background-color: transparent;
}

.header-menu {
    padding: 0px;
    height: 70px;
}
.header-navbar {

}
.header-title-menu {
   text-align: left;
   font-size: 17px;
   font-family: "Roboto", "Helvetica Neue", sans-serif;
   color: #ffffff;
}
.content-body-menu {

}
.content-slides-images{
    height: 50%;
    width: 100%;
}
}
