page-receiving {
    .header-menu {
        padding: 0px;
        height: 70px;
    }
    .header-navbar {

    }
    .header-title-menu {
       text-align: left;
       font-size: 17px;
       font-family: "Roboto", "Helvetica Neue", sans-serif;
       color: #ffffff;
   }
   .content-body-menu {

   }
   .content-data-item:hover {
       cursor: pointer;
       background: #b7c400;
   }
}
